.app{
  display: flex;
  justify-content: space-around;
  text-align: center;
  }
  body{
    background-color: black;
    color: aliceblue;
   
  }
  span{
     font-size: 30px;
  }
  .container{
    background-color: rgba(249, 190, 190, 0.5);
    padding: 20px;
  }
  .img{
    width: 500px;
  }
  .imgCart{
    width: 200px;
    border-radius: 50%;
  }
  .cart{
    width: 100px;
  }
  .cartContainer:hover{
    background-color: black;
  }
  .cartContainer{
    background-color:  rgba(246, 223, 223, 0.5);
  }
  .categoryButton{
    cursor: pointer;
    margin: 5px;
    padding: 5px;
  }
  .categoryButton:hover {
    background-color: #fdeb6b;;
  }
  
  .categoryButtonSelected {
    background-color: black;
  }

  p, h1, h2, button {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
  }
  
  button {
    background-color: #fdeb6b;
    margin-top: 40px;
    margin-left: 10px;
  }

 
  @media all and (max-width:500px){
    html, body{
      width: 100vw;
      overflow-x: hidden;
    }
    .app{
      display: flex;
      justify-content: space-around;
      text-align: center;
      flex-direction: column;
      width: 100vw;
      }
      .img{
        width:350px;
      }
      p, h1, h2, button {
        font-size: 20px;
      }
      .cart{
        width: 50px;
      }
      .imgCart{
        width: 150px;
      }
  }